---
title: welcome
date: 2025-10-27
tag: Life
description: welcome to my portfolio
---

## 🌿 About Me

I work at the **Econnect solutions **,  



---

Beyond code, I’m drawn to slower, grounding things:

- 📚 Reading essays and quiet books  

---

**→ Let’s build something lasting.**
